body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/699/640/867/red-pikachu-pokeballs-minimalism-wallpaper-preview.jpg);
}

h1 {
    text-align: center;
    color:yellow
}

p {
    text-align: center;
}

form{
    color:white;
    text-align: center;
}

dl{
    color: white;
    text-align: center;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


title {
    animation: 
}

@keyframes title {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translate(5px) ;
    }
}