body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/699/640/867/red-pikachu-pokeballs-minimalism-wallpaper-preview.jpg);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

img {
    width: 75%;
    height: auto%;
}

h1 {
    text-align: center;
    color:rgb(255,203,3);
    font-family:fantasy;
}


form{
    color:white;
    text-align: center;
}

dl{
    color: white;
    text-align: center;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.title {
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes title {
   
   100%{
    transform: rotate(400deg);
    transform: rotateY(350deg);
   }
}